.header {
  height: 60px;
  padding: 15px;
  padding-left: 70px;
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
  position: relative;
}

.loader {
  position: absolute;
  top: 17px;
  left: 50%;
}
